.cat-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    background: #F7F8FA;
    border-bottom: 1px solid #DEDFE0;
    margin-top: 0;
}

.cat-link{
    padding: 12px 16px;
}

.cat-link:hover{
    cursor: pointer;
    background-color: #E8E9EB;
}

.cat-link i{
    margin-right: 3px;
}