.home{
    padding: 0px !important;
}

.home .upper-fold{
    height: 100vh !important;
    background-image: url('https://a0.muscache.com/4ea/air/r:w775-h518-sfit,e:fjpg-c80/pictures/0ffd8594-f123-43f0-85bb-7ef88c6f0624.jpg');
    background-size: cover;
}

.lower-fold{
    padding-left: 80px;
    padding-right: 80px;
}