.cities{
    position: relative;
}

.city{
    position: relative;
    width: 20%;
    padding: 12px 16px;
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.city-name,.city-price{
    position: absolute;
    color: white;
    font-size: 18px;
    left: 0;
    right: 0;
    margin: auto
}

.city-name{
    font-weight: 800;
    bottom: 18%;
}

.city-price{
    bottom: 10%;
}


