.nav{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.nav nav{
    box-shadow: none;
}

.nav ul li{
    color: white;
    cursor: pointer;
}


.nav .nav-non-link{
    padding: 0 15px;
}

.nav-non-link:hover{
    border-bottom: 2px solid white;
    background-color: initial;
}

.nav ul li:hover{
    border-bottom: 2px solid white;
    background-color: initial;    
}

