.location-details{
    text-align: left;
}

.single-venue .location{
    margin: 0px;
    word-wrap: break-word;
    font-size: 32px;
    font-weight: 800;
    line-height: 1.125em;
    color: #484848;
    padding-top: 6px;
    padding-bottom: 6px;
}

.single-venue .location-details{
    margin-top: 30px;
}

.single-venue .right-details{
    border: 1px solid #e4e4e4;
    padding: 15px;
}

.right-details .price-per-day{
    font-size: 18px;
    font-weight: 800;
    line-height: 1.44444em;
    color: rgb(72, 72, 72);
    margin: 0px;   
}


.location-details .left-details .title{
    margin: 0px;
    word-wrap: break-word;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.375em;
    color: #484848;
    margin-bottom: 20px;
}

.single-venue .divider{
    margin: 10px 0;
}

.location-details .left-details .guests{
    margin: 0px;
    word-wrap: break-word;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.375em;
    color: #484848;
}

.right-details .price-per-day span{
    font-size: 12px;
    font-weight: 600;
    line-height: 1.33333em;
    color: rgb(72, 72, 72);
    margin: 0px;
}

.right-details button{
    width: 100%;
}

.point-title{
    font-weight: bold;
}

.point-desc{
    margin-bottom: 20px;
}

